* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    position: relative;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
      background-image: url('../img/poster.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .fullscreen-bg__video.mobile {
      display: none;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }

/*   
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  } */

.tint {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
}

.content-container {
    margin-top: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 740px;
    height: auto;
}

.logo-word {
    display: none;
}

.subtitle {
    font-family: Helvetica Neue;
    color: #ddd;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

.music-player {
    margin-top: 100px;
}

.song-title {
    font-family: Helvetica Neue;
    padding-left: 20px;
    margin: 0;
    color: #ddd;
    font-size: 14px;
    font-style: italic;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    border: 0;
    background: none;
    color: #ddd;
    font-size: 100px;
    cursor: pointer;
    padding: 0;
    margin: 10px 20px;
}

.action-btn:hover {
    color: #ad6f46;
}

.action-btn:focus {
    outline: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 4;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container a {
    background: #ddd;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.links-container a:hover {
    background: #ad6f46;
}

.links-container a i {
    color: #333;
    font-size: 22px;
}

@media (max-width: 800px) {
    .content-container {
        margin-top: 0;
        position: absolute;
        top: 50vh;
        transform: translateY(-75%);
    }
    
    .logo {
        max-width: 600px;
    }
}

@media (max-width: 700px) {
    .content-container {
        margin-top: 0;
        position: absolute;
        top: 50vh;
        transform: translateY(-75%);
    }

    .logo {
        max-width: 500px;
    }
}


@media (max-width: 600px) {
    .content-container {
        margin-top: 0;
        position: absolute;
        top: 50vh;
        transform: translateY(-65%);
    }

    .logo {
        max-width: 400px;
    }

    .subtitle {
        font-size: 18px;
    }

    .music-player {
        margin-top: 80px;
    }
}

@media (max-width: 450px) {
    .logo {
        display: none;
    }

    .logo-word {
        display: block;
        max-width: 50%;
    }

    .subtitle {
        margin-top: 20px;
    }

    .action-btn {
        font-size: 75px;
    }

    .fullscreen-bg__video {
        background-image: url('../img/mobile.png');
    }
    
    .fullscreen-bg__video.full {
        display: none;
    }

    .fullscreen-bg__video.mobile {
        display: block;
    }
}