@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    position: relative;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
/*   
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  } */

.tint {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
}

.content-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Helvetica Neue;
    color: #ddd;
    font-weight: 300;
    font-size: 80px;
    margin-bottom: 30px;
    letter-spacing: .1em;
    z-index: 3;
}

h1.header-two-line {
     display: none;
}

p {
    font-family: Helvetica Neue;
    color: #ddd;
    font-weight: 300;
    font-size: 20px;
}

.music-player {
    margin-top: 100px;
}

.song-title {
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    border: 0;
    background: none;
    color: #ddd;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin: 10px 20px;
}

.action-btn:hover {
    color: #ad6f46;
}

.action-btn-big {
    font-size: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 4;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container a {
    background: #ddd;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.links-container a:hover {
    background: #ad6f46;
}

.links-container a i {
    color: #333;
    font-size: 22px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 60px;
        margin-bottom: 0;
    }

    h1.header-one-line {
        display: none;
    }

    h1.header-two-line {
        display: block;
    }

    .music-player {
        margin-top: 80px;
    }
}